@media screen and (min-width: 960px) {
    :root {
        --biggest-font-size: 64px;
        --h1-font-size: 36px;
        --h2-font-size: 24px;
        --h3-font-size: 18px;
        --normal-font-size: 16px;
        --small-font-size: 15px;
        --smaller-font-size: 13px;
    }
}

@media screen and (max-width: 960px) {
    .home .row {
        text-align: center;
    }

    .home__data {
        order: 2;
    }

    .footer {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        height: calc(var(--header-height) + 24px)
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: 40px;
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .change-theme {
        position: initial;
        margin-left: 16px;
    }

    .menu__content {
        padding: 24px;
    }

    .menu__img {
        width: 130px;
    }

    .app__store {
        margin: 0 8px 0 0;
    }
}

@media screen and (max-width: 575px) {
    .nav {
        padding: 10px 15px;
    }

    .home__img {
        max-width: 250px;
    }

    .about__img {
        order: 2;
        margin-top: 30px;
    }
}